@charset "UTF-8" ;
*{
    margin:0; padding:0;
}

html {
    font-family: "Noto Sans JP", sans-serif;
}

div.index{
    margin:5px;
}

div.error{
    color:red;
    margin:8px;
}

input[type="text"].url{
    width:50%;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

input[type="text"].url:focus{
    border: 2px solid #0a68a9;
}

table {
    margin-bottom:10px;
    border-collapse:collapse;
    table-layout:fixed;
}

th{
    color:white;
    background-color: navy;
    letter-spacing: 10px;
}

td{
    padding:2px 10px;
    border:solid 2px #DDDDDD;
}

table.url {
    width:60%;
    min-width:700px;
}

th.url {
}

th.button {
    width: 200px;
}

td.url {
    word-break : break-all;
}

td.button {
    width: 200px;
}

header{
    position: sticky;
    margin:0px;
    padding:20px 15px;
    padding-top:10px;
    background-color: navy;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    height:40px;
    top: 0;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left:35px;
    padding-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color:#0b73bb;
    cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0;}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #0b73bb;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    appearance: none;
    font-family: inherit;
    display: inline-block;
    min-width: 70px;
    border: 0;
    border-radius: 5px;
    background: navy;
    color: #fff;
    margin:3px;
    padding: 5px 8px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    font-weight:bold;
}
button:hover {
    background: #0a73bb;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.delete_button {
    background: #b22222;
    color: #ffffff;
}
.delete_button:hover {
    background: red;
    color: #fff
}
.delete_button:focus {
    box-shadow: 0 0 0 4px #cbd6ee;
}

.container {
  display: flex;
  height: 80vh;
}

.sidebar,
.main {
  max-height: 80vh;
}

.sidebar {
  overflow: hidden;
  flex: 1;
  max-width: 20vw;
  left:30px;
}

.sidebar:hover {
  overflow: auto;
}

.main {
  overflow: auto;
  flex: 2;
}

ul.side {
    margin-left: 30px;
	list-style-type: none;
}

@media screen and (max-width: 700px) {
    .boxContainer {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
